<ul>
  <% @users.each do |user|%>
    <li>
      <%= link_to user.email, user %>
      <%#=button_to "Cancel Invitation", event_registration_path(@event, @register), method: :delete%>
      <%= button_to "Invite", event_registrations_path%>
    </li>
  <%end%>
</ul>